.page__wrapper {
  margin-top: 15px;
  display: flex;
}
.page__but {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  padding: 10px;
  border: 2px solid orange;
  font-weight: bold;
}
