* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: blanchedalmond;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* background-color: blanchedalmond; */

.App {
  width: 800px;
}
.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0px);

  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-150px);
  transition: all 500ms ease-in;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: lightblue;
}

.navbar__links {
  margin-left: auto;
}

.post_btns {
  display: flex;
}
